<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<div class="container">
<div class="mx-auto" style="width: 50rem;">

<br><br>
    <div class="container">


        <div class="row">
          <div class="col">
            <h2><%= qna.title %></h2>
      
            <p>
              작성자: <%= qna.id %>
              <br>
              작성일자: <%= moment(qna.inserted).format('YYYY-MM-DD h:mm a') %>
            </p>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col" style="white-space:">
            <%= qna.text %>
          </div>
      
        </div>
      
        <div class="row">
              <div class="col">
                <hr>
              </div>
          </div>
      
          <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      
          <div class="btn-group" role="group" aria-label="First group">
            <a href="/qna/<%= qna.id %>/edit" class="btn btn-outline-secondary">수정</a>
            <a href="/qna/<%= qna.id %>/delete" class="btn btn-outline-secondary">삭제</a>
          </div>
          <div class="input-group">
            <a href="/qna/" class="btn btn-secondary">목록</a>
          </div>
        </div>
      </div>

<%- include('includes/footer'); -%>